body {
  background-image: url("images/background3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Berkshire Swash", cursive;
}
#nav {
  border-bottom: 1px solid white;
}
#title {
  color: white;
  font-size: 70px;
  margin-top: 25px;
}

#searchContainer {
  color: white;
  background-image: url("images/background.png");
  width: 95%;
  height: fit-content;
  position: relative;
  margin: 25px auto;
  padding: 25px;
  border: 1px solid white;
  border-radius: 10px;
  font-family: "Berkshire Swash", cursive;
}

#saveBttn,
#remove {
  background-color: slategray;
  margin-top: 10px;
}

#tableEntry {
  border-bottom: 1px solid white;
}
#savedArticlesTitle {
  font-size: 40px;
  margin-bottom: 35px;
  border-bottom: 1px solid white;
}
